<!DOCTYPE html><li>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Style-Type" content="text/css" />

		<title>Предложение о заключении договора</title>

		<style>
			body {
				padding: 50px 25px 100px 0;
				max-width: 60em;
				text-align: justify;
				line-height: 1.4;
				font-family: Calibri, Arial, Sans-Serif;
				font-size: 11pt
			}
			li {
				margin-bottom: 1em;
			}
			.title {
				margin-top: 0pt;
				margin-bottom: 0pt;
				text-align: center;
				font-size: 12pt;
				font-weight: bold;
			}
		</style>

	</head>


	<body>
		<div>
			<p class="title">ПРЕДЛОЖЕНИЕ О ЗАКЛЮЧЕНИИ ДОГОВОРА</p>

			<ol>
				<li>
					Настоящим документом {{ siteowner_who }}, {{ siteowner_birthdate }} рождения, и
					{{ petition_autor_who }}, {{ petition_author_birthdate }} рождения, (далее совместно
					именуемые —Поверенные) совместно предлагают любому гражданину (далее – Доверитель)
					принять на себя его (её) поручение по формированию и передаче его (её) обращения
					в {{ petition_target }} в целях его рассмотрения в порядке, предусмотренном
					Федеральным законом от 2 мая 2006 г. № 59-ФЗ «О порядке рассмотрения обращений
					граждан Российской Федерации». Данное предложение является публичной офертой в
					соответствии с п. 2 ст. 437 Гражданского Кодекса Российской Федерации.
				</li>

				<li>
					Договор поручения между Доверителем и Поверенными на условиях настоящей оферты
					(далее – Договор) считается заключенным после заполнения формы обращения на странице
					{{ petition_url }}, проставления отметки у надписи «Я даю согласие на обработку
					персональных данных и поручаю {{ petition_author_to_whom }} распечатать и подать
					мое обращение в {{ petition_target }} на основании публичной оферты» и нажатия кнопки
					«Подписать обращение».
				</li>

				<li>
					Предмет поручения – формирование обращения Доверителя на основе сведений, внесенных в форму
					для подачи обращения (в том числе графического образа подписи Доверителя), печать сформированного
					обращения и его подача в {{ petition_target }},
					а также информирование Доверителя о других формах на сайте {{ sitename }}, других событиях
					общественной жизни, которые {{ siteowner_who }} посчитает значимыми и в
					которых он пригласит Доверителя принять участие.
				</li>

				<li>
					Обязанности по исполнению Договора, как правило, распределяются между Поверенными
					следующим образом: {{ siteowner_who }} обеспечивает работу формы для подачи обращения и
					формирование обращения, информирование Доверителя, а {{ petition_autor_who }}
					организует печать и подачу распечатанного обращения в {{ petition_target }}.
					Поверенные вправе привлечь к исполнению Договора третьих лиц без предварительного
					согласия Доверителя.
				</li>

				<li>
					Поручение выполняется безвозмездно. Расходы, связанные с его выполнением,
					Поверенные несут самостоятельно.
				</li>

				<li>
					Поверенные принимают меры по обеспечению конфиденциальности персональных данных
					Доверителя при исполнении поручения в соответствии с утвержденной Максимом Кацем
					Политикой обработки персональных данных и обеспечения безопасности при их
					обработке через сайт {{ sitename }}.</li>

				<li>
					Заключая Договор, Доверитель дает согласие Поверенным на обработку своих
					персональных данных, внесенных в форму для направления обращения.
				</li>

				<li>
					Доверитель гарантирует достоверность персональных данных, предоставленных им(ей)
					в целях исполнения Договора, и самостоятельно несёт риски отрицательных последствий,
					связанных с несоответствием их действительности.
				</li>

				<li>
					Поверенные не гарантирует Доверителю принятие его (её) обращения в {{ petition_target }}
					для рассмотрения.
				</li>

				<li>
					Поверенные (совместно или каждый по отдельности) вправе извещать Доверителя о ходе
					и результатах исполнения его (её) поручения (в т.ч. о результатах рассмотрения его
					обращения) по электронной почте, смс-сообщениями, сообщениями в социальных сетях, мессенджерах.
				</li>

				<li>
					Поверенные вправе направлять Доверителю сообщения по электронной почте,
					телефону, смс, через социальные сети, мессенджеры с дополнительной информацией,
					касающейся предмета обращения, а также с информацией о других обращениях, которые
					можно направить через сайт <a href="{{ siteurl }}">{{ siteurl }}</a>, а также по
					иным общественно-политическим поводам.
				</li>

				<li>
					С учетом положения, предусмотренного в п. 10 настоящей Оферты, Доверитель согласен
					с тем, что в силу характера поручения отчёта от Поверенных о его исполнении не требуется.
				</li>

				<li>
					Поверенные в любой момент вправе отказаться от исполнения Договора без наступления
					какой-либо ответственности перед Доверителем. Уведомление Доверителя об отказе от
					исполнения Договора остается на усмотрение Поверенных и не является обязательным.
				</li>

				<li>
					Запросы, обращения, претензии, связанные с Договором, направляются Поверенным по
					электронному адресу <a href="mailto:{{ sitemail }}">{{ sitemail }}</a>.
				</li>
			</ol>
		</div>
	</body>
</html>
